<!DOCTYPE html>
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <nav>
        <%- include("./partials/nav.ejs") %>
    </nav>
    <h1 class="title1">Hello there!</h1>
    <h2 class="title1">Here are the list of Pokemons</h2>
    <div class="titlescreen">
            <% for(let i = 0; i < pokemons.length; i++){ %>
                <div class="pokemonindexblock">
                    <div class="pokemonindexblockname">
                        <%= pokemons[i].name %>
                    </div>
                    <div class="pokemonindexblockimg">
                            <a href="/pokemon/<%= pokemons[i].id %>"><img name="pokemonjpg" src="<%= pokemons[i].img %>" alt="n/A"></a>
                    </div>
                    <div class="pokemonindexblockdelete">
                        <form action="/pokemon/<%= pokemons[i].id %>?_method=delete" method="post">
                            <input type="submit" value="delete">
                        </form>
                    </div>
                </div>
        <%} %>
    </div>
</body>
</html>